.MainAboutDiv{
    background-color: black;
    color: white;
    height: 100%;
}

.ContactInfoDiv{
    width: 60%;
    margin-left: 20%;
}

.SocialMedias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 10%;
}

.AllHobbiesDiv{
    width: 60%;
    margin-left: 20%;
}

.Hobbies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 10%;
}

