.MainEducationDiv{
    display: flex;
    border: 3px solid white;
    margin: 20px;
    border-radius: 20px;
}

.MainEducationDiv img {
  width: 170px;        
  height: 170px;      
  margin-left: 15px;
}

.EducationInfoDev {
  display: column;
  color: white;
}

