.navButton-div{
  background-color: red;
  padding: 20px;
  border-radius: 12px;
}

.navButton-div:hover{
  background-image: repeating-linear-gradient(
    to right,
    #e3c0c0 0%,     
    #cf8f9e 10%,
    #c27e8e 20%,
    #c37386 30%,
    #c45d75 40%,
    #bf3f5d 50%,
    #c45d75 60%,
    #c37386 70%,
    #c27e8e 80%,
    #cf8f9e 90%,
    #e3c0c0 100%    
  );

  background-size: 80px 100%; 
  animation: slide 3s linear infinite forwards; 
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 80px 0; 
  }
}


/* this is for the text inside the button itself */
.nav-button {     
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-button:hover {
  color: #00aaff;
  text-decoration: underline;
}
