.QuestionBox{
    display: flex;
    background-color: aqua;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    padding: 20px;
    border-radius: 20px;
    font-size: 35px;
    font-weight: bolder;
}


