.MainTechStackDiv{
    background-color: black;
}

.TechSearchBar {
  width: 60%;
  max-width: 400px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  margin: 20px 0 40px 0;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.TechTypeFilter {
  background-color: #2a2a2a;
  color: white;
  border: 1px solid #ff5555;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}



.TechLegend {
  margin-top: 30px;
  margin-bottom: 25px;
  text-align: center;
  color: white;
}

.LegendBars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

.LegendItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.LegendBar {
  height: 12px;
  border-radius: 6px;
  margin-bottom: 6px;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
}

/* Match these widths to your TechBar logic */
.LegendBar.beginner {
  width: 100px;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
}

.LegendBar.intermediate {
  width: 180px;
  background: linear-gradient(90deg, #ff9966, #ff1e56);
}

.LegendBar.advanced {
  width: 260px;
  background: linear-gradient(90deg, #ff9966, #c81d77);
}