.TechBarContainer {
    border: 4px solid red;    
    padding: 20px;        
    margin-bottom: 30px;   
    margin-top: 30px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background: linear-gradient(90deg, #4b0000, #a30000, #ff6600, #ffd700);
}


